// HEADER
// ==========================================================================

header {
	@extend .pt4;
	@extend .pagewidth;
	max-width: 75%;

	h1 {
		@extend .my2;
		color: $colour_tone_1;
		font-size: 3rem;
		font-weight: 500;
		line-height: 1em;

		a,
		a:visited {
			color: $colour_tone_1;
			transition: color 0.5s;
		}

		a:hover {
			color: $colour_bright;
		}
	}

	h2 {
		@extend .h2;
		@extend .mb1;
	}

	.bright {
		color: $colour_bright;
	}

	nav {
		@extend .mt2;

		a {
			@extend .mr2;
			display: inline-block;
			height: 2rem;
			opacity: 0.2;
			width: 2rem;
		}

		a:hover {
			opacity: 1;
			transition: opacity 1s;
		}

		svg {
			height: 100%;
			width: 100%;
		}
	}
}

@media (min-width: 52em) {
	.breaksmall {
		display: inline;
	}
}

@media (min-width: 60em) {
	header h1 {
		font-size: 4rem;
	}
}
