// LINKS
// ==========================================================================

a,
a:hover,
a:visited {
	color: $colour_bright;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	a {
		color: inherit;
		text-decoration: none;
	}
}
