// NAV
// mobile first
// ==========================================================================

$nav_dimension: 400px;

body > nav {
	background: $colour_bright;
	@extend .mt4;
	@extend .mb2;
	@extend .p1;

	.pink {
		@extend .pagewidth;
	}

	li {
		@extend .mr2;
		display: inline;
	}

	a {
		font-size: 1.4em;
		font-weight: 500;
		text-decoration: none;
		text-transform: uppercase;
	}

	a,
	a:hover,
	a:visited {
		color: $colour_paper;
	}

	.selected {
		font-weight: bold;
	}
}


// NAV
// pink box
// ==========================================================================

@media (min-width: 52em) {

	body > nav {
		background: none;
		margin: 0;
		padding: 0;


		.shadow,
		.pink {
			height: $nav_dimension;
			position: absolute;
			right: 0;
			top: 0;
			transform-origin: 0 100%;
			width: $nav_dimension;
		}

		.shadow {
			background: $colour_tone_1;
			transform: translate(300px, -100px) skewX(30deg) rotate(-30deg) scale(1, 0.6);
		}

		.pink {
			background: $colour_bright;
			display: flex;
			padding: 30px;
			transform: translate(300px, -100px) rotate(-30deg);
		}

		ol {
			align-self: center;
		}

		li {
			display: block;
		}

		a,
		a:hover {
			font-size: 1.8em;
			font-weight: 500;
			text-decoration: none;
			text-transform: uppercase;
		}

		.selected,
		a:hover {
			font-weight: bold;
			padding-left: 10px;
			transition: padding-left 1s;
		}
	}
}
