// ==========================================================================
// CLEARFIX
// ==========================================================================
// intended use .foo { @extend %clear; )

%clear {
	&:after {
		clear: both;
		content: '';
		display: table;
	}
}
