<header>
	<nav>
		<a data-tooltip="Twitter" href="http://twitter.com/opengovint"><img src="assets/images/twitter.svg" alt="Twitter"></a>
		<a data-tooltip="Github" href="https://github.com/OpenGovIntelligence"><img src="assets/images/github.svg" alt="Github"></a>
		<a data-tooltip="Slideshare" href="http://www.slideshare.net/opengovintelligence"><img src="assets/images/slideshare.svg" alt="Slideshare"></a>
		<a data-tooltip="Mailing list" href="http://eepurl.com/b2-_Dj"><img src="assets/images/mail-with-circle.svg" alt="Mailing list"></a>
	</nav>
	<h1><a href='index.html'>open<span class='bright'>gov</span><span class='breaksmall'>intelligence</span></a></h1>
	<h2>Improving public services with multidimensional statistical data</h2>
	<p>Coordinating person: Prof. Konstantinos Tarabanis, Centre for Research &amp; Technology - Hellas (CERTH).<br>Contact: <a href="mailto://hello@opengovintelligence.eu">hello@opengovintelligence.eu</a></p>
</header>
