<header>
	<nav>
		<a href="http://twitter.com/opengovint"><img src="images/twitter.svg" alt="Twitter"></a>
		<a href="https://github.com/OpenGovIntelligence"><img src="images/github.svg" alt="Github"></a>
		<a href="http://www.slideshare.net/opengovintelligence"><img src="images/slideshare.svg" alt="Slideshare"></a>
	</nav>
	<h1>open<span>gov</span><div class='breaksmall'>intelligence</div></h1>
	<h2>Improving public services with multidimensional statistical data</h2>
	<p>Coordinating person: Prof. Konstantinos Tarabanis, Centre for Research &amp; Technology - Hellas (CERTH).<br>Contact: <a href="mailto://hello@opengovintelligence.eu">hello@opengovintelligence.eu</a></p>
</header>
