<nav>
	<div class='shadow'></div>
	<div class='pink'>
		<ol>
			<li><a href='http://medium.com/opengovintelligence'>Doing</a></li>
			<li><a href='#' class='selected'>Thinking</a></li>
			<li><a href='#'>Making</a></li>
		</ol>
	</div>
</nav>
