<nav>
	<div class='shadow'></div>
	<div class='pink'>
		<ol>
			<li><a href='http://medium.com/opengovintelligence'>Doing</a></li>
			<li><a {{#if thinking}}class='selected'{{/if}} href='thinking.html'>Thinking</a></li>
			<li><a {{#if making}}class='selected'{{/if}} href='making.html'>Making</a></li>
		</ol>
	</div>
</nav>
