<section>
	<h4>Vision</h4>
	<blockquote>
		The OpenGovIntelligence project aims to modernize Public
		Administration by connecting it to Civil Society through the
		innovative application of Linked Open Statistical Data (LOSD).  We
		believe the publication of high quality public statistics can
		transform society, services and enterprises throughout Europe.
	</blockquote>

	<p>
Towards this end, OpenGovIntelligence also seeks to support and
develop approaches to co-design and service co-production; whilst
providing software tools to aid decision making and better manage the
complexities and precise nature of high quality statistical data.
	</p>

	<p>
We anticipate developing and adopting new business processes,
policies, and tools to enable the active participation of society and
enterprise in data sharing and in the co-production of innovative
data-driven public services.  Our objectives include:
	</p>

	<ul>
		<li>
			Identifying the challenges involved in
			opening, managing, and representing LOSD for
			the co-production of innovative data-driven
			public services.
		</li>

		<li>
			Creating a framework of business processes,
			policies, and data infrastructure.  This
			framework aims to support an innovation
			ecosystem built on high quality, connected,
			statistical data.  It aims to engage society
			and Public Administration into addressing
			challenges and propose models of collaboration
			through the co-production of innovative
			data-driven public services.
		</li>
		<li>
			The delivery of an ICT toolkit comprising user
			centred tools, documentation and
			specifications that can help realise an
			eco-system of connected data and services.
		</li>

		<li>
			Proving the effectiveness of our approach through a diverse
			selection of pilot projects in six countries.  The pilots will
			develop services at both national and local levels to tackle
			challenges within society and Public Administration.  These
			challenges include enabling better decision-making in PAs, enhancing
			e-services provided by Points of Single Contact in Europe, and
			improving policy-making in the areas of environmental protection,
			economic growth, and unemployment.
		</li>
</section>
