@import '../../node_modules/normalize.css/normalize.css';

html * {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

@breakpoints {
	desktop: 1024px;
	phone: 480px;
}

@media-queries {
  small: <=phone;
	medium: <=desktop >phone;
  large: >desktop;
}

body {
  font-family: 'Avenir', 'Avenir Next', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif , "Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 21px;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: "pnum";
  font-feature-settings: "pnum";
  font-variant-numeric: proportional-nums;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem;
}

.Box {
  padding: 2rem 4rem;
  max-width: 700px;
}


footer {
  padding: 2rem 4rem;
}
footer img {

  width: 2rem;
}
