// STICKY FOOTER
// see https://github.com/philipwalton/solved-by-flexbox/compare/9a400bfc88b63476e7a464dd17c2f9687276f253...b99093ce89683f2b0d04e0270ae8e820746c0a8e?diff=split&name=0c83bd6862dc5365d02fc6fd6798e833844a6e53
// ==========================================================================

.with_sticky_footer {
	display: flex;
	flex-direction: column;
	min-height: 100vh;

	@include ie-only {
		// `height: 100%` is needed for IE because of the `min-height` flexbox bug.
		height: 100%;
	}
}

.precede_sticky_footer {
	// `flex-shrink: 0` and `flex-basis: auto` are need to work around
	// Flexbox issues in IE 10-11.
	flex: 1 0 auto;
}
