// GLOBAL CONFIGURATION
// colours etc
// ==========================================================================

$colour_paper: #fff;
$colour_ink: #000;

$colour_bright: #e44690;

$colour_tone_1: #ccc;
$colour_tone_2: #eee;

// SANITIZE
// configurable reset
// ==========================================================================

$root-color: $colour_ink;
$root-font-family: 'Avenir', 'Avenir Next', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$monospace-font-family: 'Monaco', monospace;

@import '../../node_modules/sanitize.css/lib/sanitize.sass';

@media (min-width: 52em) {
	:root {
		font-size: 100%;
	}
}

@mixin ie-only {
	// A media query to target just IE10+
	// See: http://stackoverflow.com/questions/20541306/how-to-write-a-css-hack-for-ie-11
	@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
		@content
	}
}

// MR RESETTI
// re-re-set when the crowd say 'Bo, consistent and responsive.'
// ==========================================================================

*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	-webkit-font-smoothing: antialiased;
	height: 100%;
}

img,
canvas,
iframe,
video,
svg,
select,
textarea {
	max-width: 100%;
}

// BASSCSS
// is a bit of a buzzkill, but let's have it available for extension
// ==========================================================================

@import '../../node_modules/basscss/css/basscss';

// OPENGOVINTELLIGENCE
// house styles
// ==========================================================================

@import 'features/footer';
@import 'features/header';
@import 'features/layout';
@import 'features/links';
@import 'features/nav';
@import 'features/sticky';
@import 'features/tooltip';

// WORK IN PROGGRESS
// rough work here - but break out into a feature module asap
// ==========================================================================


h1,
h2 {
	font-weight: normal;
}

.grid_cell {
	@extend .pb3;
}

.grid_cell a {
	display: block;
	max-width: 100%;

	img {
		@extend .mt1;
		max-width: 60%;
	}
}

h1 {
	@extend .h1;
}

h2 {
	@extend .h2;
	@extend .mb2;
}

h3 {
	@extend .h3;
	@extend .mb1;
}

blockquote {
	border-left: 0.3rem solid $colour_tone_1;
	font-style: italic;
	margin: 1rem 0;
	padding: 0 1.5rem;
}

blockquote *:last-child {
	margin: 0;
}
