/*** uncss> filename: assets/stylesheets/main.css ***/

/*! sanitize.css v3.3.0 | CC0 1.0 Public Domain | github.com/10up/sanitize.css */

/*
 * Normalization
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button:-moz-focusring,
input:-moz-focusring {
  outline: 1px dotted ButtonText;
}

html {
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
}

main {
  display: block;
}

svg:not(:root) {
  overflow: hidden;
}

/*
 * Universal inheritance
 */

*,
::before,
::after {
  box-sizing: inherit;
}

* {
  font-size: inherit;
  line-height: inherit;
}

::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit;
}

/*
 * Opinionated defaults
 */

* {
  margin: 0;
  padding: 0;
}

*,
::before,
::after {
  border-style: solid;
  border-width: 0;
}

a {
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

select::-ms-expand {
  display: none;
}

select::-ms-value {
  color: currentColor;
}

svg {
  fill: currentColor;
}

/*
 * Configurable defaults
 */

* {
  background-repeat: no-repeat;
}

:root {
  background-color: #ffffff;
  box-sizing: border-box;
  color: #000;
  cursor: default;
  font: 66.6666666667% "Avenir", "Avenir Next", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

a {
  text-decoration: none;
}

img,
svg {
  vertical-align: middle;
}

nav ol {
  list-style: none;
}

::-moz-selection {
  background-color: #b3d4fc;
  color: #ffffff;
  text-shadow: none;
}

::selection {
  background-color: #b3d4fc;
  color: #ffffff;
  text-shadow: none;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  -webkit-font-smoothing: antialiased;
}

img,
svg {
  max-width: 100%;
}

/*! Basscss | http://basscss.com | MIT License */

section h2,
h1 {
  font-size: 21.333px;
  font-size: 2rem;
}

header h2,
h2 {
  font-size: 16px;
  font-size: 1.5rem;
}

h3 {
  font-size: 13.333px;
  font-size: 1.25rem;
}

.grid_cell a img {
  margin-top: 5.333px;
  margin-top: .5rem;
}

header h2,
h3 {
  margin-bottom: 5.333px;
  margin-bottom: .5rem;
}

header nav {
  margin-top: 10.666px;
  margin-top: 1rem;
}

header nav a,
body > nav li {
  margin-right: 10.666px;
  margin-right: 1rem;
}

footer svg,
section h2,
.grid_cell,
body > nav,
h2 {
  margin-bottom: 10.666px;
  margin-bottom: 1rem;
}

header h1 {
  margin-top: 10.666px;
  margin-top: 1rem;
  margin-bottom: 10.666px;
  margin-bottom: 1rem;
}

main {
  margin-top: 21.333px;
  margin-top: 2rem;
}

body > nav {
  margin-top: 42.666px;
  margin-top: 4rem;
}

.grid {
  margin-left: -10.666px;
  margin-left: -1rem;
  margin-right: -10.666px;
  margin-right: -1rem;
}

body > nav {
  padding: 5.333px;
  padding: .5rem;
}

footer .pagewidth,
section {
  padding-top: 10.666px;
  padding-top: 1rem;
  padding-bottom: 10.666px;
  padding-bottom: 1rem;
}

.grid_cell {
  padding-left: 10.666px;
  padding-left: 1rem;
  padding-right: 10.666px;
  padding-right: 1rem;
}

.grid_cell {
  padding-bottom: 21.333px;
  padding-bottom: 2rem;
}

.pagewidth,
header,
body > nav .pink {
  padding-left: 21.333px;
  padding-left: 2rem;
  padding-right: 21.333px;
  padding-right: 2rem;
}

header {
  padding-top: 42.666px;
  padding-top: 4rem;
}

.grid_cell {
  width: 100%;
}

.grid {
  display: -ms-flexbox;
  display: flex;
}

.grid {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

footer {
  background: #eee;
  font-size: 8.533px;
  font-size: 0.8rem;
}

footer nav {
  font-size: 10.666px;
  font-size: 1rem;
}

header {
  max-width: 75%;
}

header h1 {
  color: #ccc;
  font-size: 32px;
  font-size: 3rem;
  font-weight: 500;
  line-height: 1em;
}

header h1 a,
header h1 a:visited {
  color: #ccc;
  transition: color 0.5s;
}

header h1 a:hover {
  color: #e44690;
}

header .bright {
  color: #e44690;
}

header nav a {
  display: inline-block;
  height: 21.333px;
  height: 2rem;
  opacity: 0.2;
  width: 21.333px;
  width: 2rem;
}

header nav a:hover {
  opacity: 1;
}

body {
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

a,
a:hover,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a,
a:hover,
a:visited {
  color: #e44690;
}

h1 a,
h1 a:visited,
h1 a:hover,
h3 a,
h3 a:visited,
h3 a:hover {
  color: inherit;
  text-decoration: none;
}

body > nav {
  background: #e44690;
}

body > nav li {
  display: inline;
}

body > nav a {
  font-size: 1.4em;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
}

body > nav a,
body > nav a:hover,
body > nav a:visited {
  color: #fff;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  min-height: 100vh;
}

main {
  -ms-flex: 1;
      flex: 1;
}

*[data-tooltip] {
  position: relative;
}

*[data-tooltip]:before,
*[data-tooltip]:hover:before,
*[data-tooltip]:after {
  transition: all 300ms 0ms cubic-bezier(0.25, 0, 0.15, 1.5);
}

*[data-tooltip]:before,
*[data-tooltip]:after {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  visibility: hidden;
}

*[data-tooltip]:before {
  border-color: transparent #e44690 transparent transparent;
  border-style: solid;
  border-width: 12.5px 15px 12.5px 0;
  bottom: 0;
  content: '';
  height: 0;
  left: inherit;
  margin: auto;
  right: -25px;
  top: 0;
  width: 0;
}

*[data-tooltip]:after {
  background: #e44690;
  border-radius: 0.2rem;
  bottom: inherit;
  color: #fff;
  content: attr(data-tooltip);
  font-size: 10.666px;
  font-size: 1rem;
  font-weight: 600;
  left: inherit;
  line-height: inherit;
  padding: 5.333px;
  padding: 0.5rem;
  right: -10px;
  text-decoration: none;
  top: 50%;
  transform: translate(100%, -50%) scale(0.8);
  width: 320%;
  z-index: 99;
}

*[data-tooltip]:hover:before {
  bottom: 0;
  left: inherit;
  right: -15px;
  top: 0;
}

*[data-tooltip]:hover:after {
  transform: translate(100%, -50%) scale(1);
}

*[data-tooltip]:hover:after,
*[data-tooltip]:hover:before {
  opacity: 1;
  visibility: visible;
}

h1,
h2 {
  font-weight: normal;
}

.grid_cell a {
  display: block;
  max-width: 100%;
}

.grid_cell a img {
  max-width: 60%;
}

blockquote {
  border-left: 3.2px solid #ccc;
  border-left: 0.3rem solid #ccc;
  font-style: italic;
  margin: 10.666px 0;
  margin: 1rem 0;
  padding: 0 16px;
  padding: 0 1.5rem;
}

blockquote *:last-child {
  margin: 0;
}

@media (min-width: 52em) {

  :root {
    font-size: 100%;
  }

  .grid_cell {
    width: 33.33333%;
  }

  .breaksmall {
    display: inline;
  }

  body > nav {
    background: none;
    margin: 0;
    padding: 0;
  }

  body > nav .shadow,
  body > nav .pink {
    height: 400px;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: 0 100%;
    width: 400px;
  }

  body > nav .shadow {
    background: #ccc;
    transform: translate(300px, -100px) skewX(30deg) rotate(-30deg) scale(1, 0.6);
  }

  body > nav .pink {
    background: #e44690;
    display: -ms-flexbox;
    display: flex;
    padding: 30px;
    transform: translate(300px, -100px) rotate(-30deg);
  }

  body > nav ol {
    -ms-flex-item-align: center;
        align-self: center;
  }

  body > nav li {
    display: block;
  }

  body > nav a,
  body > nav a:hover {
    font-size: 1.8em;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
  }

  body > nav a:hover {
    font-weight: bold;
    padding-left: 10px;
    transition: padding-left 1s;
  }
}

@media (min-width: 40em) {

  .grid_cell {
    width: 50%;
  }
}

@media (min-width: 60em) {

  header h1 {
    font-size: 4rem;
  }
}
