<section>
	<h4>Vision</h4>
	<blockquote>The vision of the OpenGovIntelligence project is that better use of data, particularly multidimensional statistical data, can help government organisations to improve public services.  Data analytics and visualisations can support better-informed decision making and allocation of limited resources.  New approaches to collection and exploitation of data can support governments in co-production of innovative data-driven public services.</blockquote>
</section>
