<section>
	<h2>Participants</h2>
	<div class="grid">
		<div class="grid_cell">
			<h3><a href="http://www.certh.gr/root.en.aspx">Centre for Research &amp; Technology - Hellas<br>(Greece)</a></h3>
			<a href="http://www.certh.gr/root.en.aspx"><img src="assets/images/certh.png" alt='logo'></a>
		</div>
		<div class="grid_cell">
			<h3><a href="http://www.tudelft.nl">Delft University of Technology<br>(Netherlands)</a></h3>
			<a href="http://www.certh.gr/root.en.aspx"><img src="assets/images/tu_delft.png" alt='logo'></a>
		</div>
		<div class="grid_cell">
			<h3><a href="http://www.insight-centre.org/">National University of Ireland, Galway<br>(Ireland)</a></h3>
			<a href="http://www.certh.gr/root.en.aspx"><img src="assets/images/insight.png" alt='logo'></a>
		</div>
		<div class="grid_cell">
			<h3><a href="http://ttu.ee">Tallinn University of Technology<br>(Estonia)</a></h3>
			<a href="http://www.certh.gr/root.en.aspx"><img src="assets/images/tut.png" alt='logo'></a>
		</div>
		<div class="grid_cell">
			<h3><a href="http://www.proxml.be/">ProXML bvba<br>(Belgium)</a></h3>
			<a href="http://www.certh.gr/root.en.aspx"><img src="assets/images/proxml.png" alt='logo'></a>
		</div>
		<div class="grid_cell">
			<h3><a href="http://swirrl.com">Swirrl IT Limited<br>(United Kingdom)</a></h3>
			<a href="http://www.certh.gr/root.en.aspx"><img src="assets/images/swirrl.png" alt='logo'></a>
		</div>
		<div class="grid_cell">
			<h3><a href="http://www.infotrafford.org.uk/">Trafford council<br>(United Kingdom)</a></h3>
			<a href="http://www.certh.gr/root.en.aspx"><img src="assets/images/tiail.png" alt='logo'></a>
		</div>
		<div class="grid_cell">
			<h3><a href="http://www.lne.be/">Flemish Government<br>(Belgium)</a></h3>
			<a href="http://www.certh.gr/root.en.aspx"><img src="assets/images/flanders.png" alt='logo'></a>
		</div>
		<div class="grid_cell">
			<h3><a href="http://www.ydmed.gov.gr/">Ministry of Interior and Administrative Reconstruction<br>(Greece)</a></h3>
			<a href="http://www.certh.gr/root.en.aspx"><img src="assets/images/miar.png" alt='logo'></a>
		</div>
		<div class="grid_cell">
			<h3><a href="https://www.mkm.ee/en">Ministry of Economic Affairs and Communication<br>(Estonia)</a></h3>
			<a href="http://www.certh.gr/root.en.aspx"><img src="assets/images/meac.png" alt='logo'></a>
		</div>
		<div class="grid_cell">
			<h3><a href="http://www.marine.ie/Home/">Marine Institute<br>(Ireland)</a></h3>
			<a href="http://www.certh.gr/root.en.aspx"><img src="assets/images/mi.png" alt='logo'></a>
		</div>
		<div class="grid_cell">
			<h3><a href="http://www.enterpriselithuania.com/en">Public Institution Enterprise Lithuania<br>(Lithuania)</a></h3>
			<a href="http://www.certh.gr/root.en.aspx"><img src="assets/images/piel.png" alt='logo'></a>
		</div>
	</div>
</section>
